.box {
  width: 100vw;
  height: 100vh;
  margin-left: 5.6rem;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  position: absolute;
  top: 0;
  right: 0;
}
.player {
  margin: 0 auto;
  margin-bottom: 1rem;
}
.list--server{
  position: absolute;
  /* left: 0; */
  bottom: 2rem;
}
.list--server span {
  margin:1rem;
  padding: .5rem;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.459);
}
/* #iframe {
  margin-bottom: 2rem;
  width: max-content;
  height: max-content;
} */